<main>
    <div class="confirm-page">
        <span class="page-title">　注文情報確認　</span>
        <div class="contents">
            <!--////////カート詳細表示テーブル///////-->
            <div class="price-t">
            <%= form_with model: @order, url: {controller: 'public/orders', action: 'create'}, local: true do |f| %>
            <table class="confirm-table">
                <thead bgcolor="#DDDDDD">
                    <th width="250px">商品名</th>
                    <th width="100px">単価(税込)</th>
                    <th width="100px">数量</th>
                    <th width="100px">小計</th>
                </thead>
                <% @cart_items.each do |cart_item| %>
                <tbody>
                    <tr>
                        <td><%= Item.find(cart_item.item_id).name %></td>
                        <td><%= (Item.find(cart_item.item_id).price*1.1).round(0).to_s(:delimited) %></td>
                        <td><%= cart_item.amount %></td>
                        <td><%= ((cart_item.amount)*(Item.find(cart_item.item_id).price)*1.1).round(0).to_s(:delimited) %></td>
                        <% @sum += ((cart_item.amount)*(Item.find(cart_item.item_id).price)*1.1) %>
                    </tr>
                </tbody>
                <% end %>
            </table>
            <!--////////合計金額表示テーブル/////////-->
            <table class="price-table">
                <tbody>
                    <tr>
                        <td width="100px" bgcolor="#DDDDDD">送料</td>
                        <td width="100px">800</td>
                    </tr>
                    <tr>
                        <td bgcolor="#DDDDDD">商品合計</td>
                        <td><%= @sum.round(0).to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <td bgcolor="#DDDDDD">請求金額</td>
                        <td><%= (@sum.round(0) + 800).to_s(:delimited) %></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="add_place">
            <table class="add-table">
                <tbody>
                    <tr>
                        <td><span class="chapter-title">支払方法</span><br></td>
                        <td width="600"><%= @order.payment_style %></td>
                    </tr>
                </tbody>
            </table>
            <table class="add-table">
                <tbody>
                    <tr>
                        <td><span class="chapter-title">お届け先</span></td>
                        <td width="600"><span> 〒 <%= @order.user_postal_code %> <%= @order.user_address %> <br>
                        <%= @order.user_name %></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-center">
                <%= f.hidden_field :payment_style, :value => @order.payment_style %>
                <%= f.hidden_field :user_name, :value => @order.user_name %>
                <%= f.hidden_field :user_address, :value => @order.user_address %>
                <%= f.hidden_field :user_postal_code, :value => @order.user_postal_code %>
                <%= f.hidden_field :order_status, :value => @order.order_status %>
                <%= f.hidden_field :user_id, :value => @order.user_id %>
                <%= f.hidden_field :postage, :value => 800 %>
                <%= f.hidden_field :select_option, :value => @order.select_option %>
                <%= f.hidden_field :charge, :value => (@sum.round(0) + 800).to_s(:delimited) %>
            <%= f.submit "注文を確定する", class: "btn btn-success" %>
            </div>
            <% end %>
            </div>
            <!--////////注文確定ボタン/////////-->
        </div>
    </div>
</main>